<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztc.mapper.AskersMapper">


    <select id="find" resultType="askers" parameterType="askers">
        select * from askers ORDER BY weight DESC

        <if test="askerName !=null and askerName !=''">
            and askerName like '%${askerName}%'
        </if>

        limit ${offset},${limit}
    </select>

    <select id="count" resultType="int">
        select count(*) from askers ORDER BY weight DESC

            <if test="askerName !=null and askerName !=''">
                and askerName like '%${askerName}%'
            </if>

    </select>
</mapper>
